@charset "utf-8";
    *{
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #000;
        list-style: none;
        text-decoration: none;
    }
body{
    min-width: 990px;
}
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    /*头部开始*/
    header{
        width: 100%;
        height:68px ;
        background-image: url("../images/home9.jpg");
        border-bottom: 1px solid #212a33;
    }
    .header-top{
        width: 1016px;
        height: 68px;
        margin: 0 auto;
    }
    .header-top span {
        display: block;
        float: left;
        width: 0;
        height:40px;
        border-right: 1px solid #404851;
        border-left: 1px solid #121c26;
        margin-top: 15px;
    }
    .header-top h1{
        float: left;
        font-size: 16px;
        color: #04b141;
        height: 120px;
        width: 100px;
        margin-left: 10px;
        margin-top: 30px;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    .header-top h1:hover{
        border-radius: 2px;
        background-color: rgba(0,0,0,0.3);
    }
    .header-top h1 ul{
        /*position: absolute;*/
        z-index: auto;
        display: none;
    }
    .header-top >h1:hover ul{
        display: block;
    }
    .header-top h1 li{
        height: 25px;
        line-height: 25px;
        margin-top: 5px;

    }
    .header-top h1 li:hover{
        background-color: rgba(1,1,1,0.5);
    }
    .header-top h1 li a{
        color: #fff;
        font-size: 16px;
    }
    .header-top h1 li a:hover{
        color: #04b141;
    }
    .search{
        width: 400px;
        height: 32px;
        float: right;
        margin-left: 10px;
        margin-top: 16px;
    }
    .search .text{
        width: 350px;
        height: 32px;
        border: none;
        cursor: pointer;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        background-color:#bdc0c3;
    
    }
    .search .submit{
        float: right;
        background: url("../images/search.png") no-repeat center center #04b141;
        display: block;
        height: 32px;
        width: 50px;
        border: none;
        cursor: pointer;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
    }
    /*头部结束*/
    nav{
        width: 100%;
        height: 37px;
        background-color: #04b141;
    }
    .naver{
        width: 1016px;
        height: 37px;
        margin: 0 auto;
        position: relative;
    }
    nav .naver ul{
        width: 800px;
        height: 37px;
        position: absolute;
    }
    nav .naver ul span{
        display: block;
        background-color: #008a45;
        width: 1px;
        height: 20px;
        float: left;
        margin-top: 9px;
    }
    nav .naver ul li{
        line-height: 37px;
        float: left;
        padding: 0 20px;
    }
    nav .naver ul li a{
        font-size: 14px;
        color: #fff;
    }
    nav .naver ul li a:hover{
        color: #04b141;
    }
    nav .naver ul li .first{
        background: url("../images/home.png") no-repeat 0 0;
        padding-left: 15px;
    }
    nav .naver ul li:hover{
        background-color:rgba(96,96,96,0.5);
    }
    .big-back{
        width: 100%;
        height:398px;
        position: relative;
    }
    .back{
        width: 1439px;
        height: 398px;
        margin: 0 auto;
        /*position: absolute;*/
    }
    .back a img{
        width: 1439px;
        height: 398px;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        /*left: 45px;*/
        position: absolute;
    }
    .back-bnt {
        width: 1016px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        background-color: #fff;
        position: relative;
    }
    .back-bnt a img{
        position: absolute;
        bottom: 0;
        left: 515px;
    }
    .content{
        width: 100%;
        height: 316px;
        background-color: #f0f0f0;

    }
    .content-left{
        width: 1140px;
        height: 313px;
        margin: 0 auto;
        position: relative;
    }
    .content-left ul{
        float: left;
        width: 1018px;
        height: 258px;
    }
    .content-left ul li{
        float: left;
        margin: 30px 13px;
        width: 223px;
        height: 258px;
        background-color: #fff;
        border-top:2px solid #04b141 ;
    }
    .content-left ul li:hover{
        height: 260px;
        border-top:2px solid #04b141 ;
        border-right: 1px solid #04b141;
        border-left: 1px solid #04b141;
        border-bottom: 1px solid #04b141;
    }
    .Accounts{
        text-align: center;
        width: 119px;
        height: 150px;
        background-color: #fff;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 50px;
    }
    .Accounts img{
        width: 104px;
        height: 104px;
    }
    .Accounts p{
        color: #ccc;
    }
    .big{
        width: 100%;
        background-color: #46505a;
        position: relative;
    }
    footer{
        display: block;
        width: 100%;
        height:200px ;
        background-image: url("../images/home8.jpg");
        position: relative;
    }
    .sm-foot{
        width: 700px;
        height: 116px;
        margin: 0 auto;
    }
    footer h3{
        color: #fff;
        padding-top: 20px;
        padding-left: 30px;
    }
    .sm-foot ul{
        width: 700px;
        height: 90px;
    }
    .sm-foot ul li{
        float: left;
        background-color: #fff;
        width: 74px;
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;
        background-image: url("../images/subitem12.png");
    }
    .sm-foot ul li:hover{
        background: url("../images/subitem13.png")no-repeat 0 -30px;
    }
      .foot{
          margin: 0 auto;
        display: block;
        width: 100%;
        height: 187px;
        background-image: url("../images/home6.jpg");
        background-repeat:repeat;
    }
    .foot h3{
        color: #fff;
        padding-top: 20px;
        padding-left: 30px;
    }
    .foot ul{
        width: 700px;
        height: 90px;
        margin: 0 auto;
    }
    .foot ul li{
        float: left;
        padding: 10px 15px;
    }
    .foot ul li a{
        color: #999999;
    }
    .foot ul li a:hover{
        color: #fff;
    }
    .end{
        position: absolute;
        width: 100%;
        height: 100px;
        /*background-color: #323c46;*/
        bottom: 0;
    }
